.app {
  font-family: sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: rgb(168, 243, 243);
}
.title {
  font-size: 22px;
  margin: 50px;
}
.form{
  background-color: aliceblue;
  padding: 100px;
  border-radius: 50%;
}

.list-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.checkList {
}
.checked-item,
.not-checked-item {
  margin-left: 10px;
}

.checked-item {
  text-decoration: line-through;
}